.banner{
	background: $main-gradient url(../img/logo-opl-big.svg);
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}
.banner__header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: #fff;
	width: 1200px;
	max-width: 95vw;
	margin: 0 auto;
}
.logo__header{
	margin: 0px 82px 0px 0px;
}
.alert__header{
	word-wrap: break-word;
}
.banner__main-content{
	width: 1200px;
	max-width: 100vw;
	margin: 0 auto;
	min-height: 80vh;
	color: #fff;
	position: relative;
}
.btn_container{
	float: left;
	margin-top: 12vh;
	.banner__btn{
		display: block;
		margin-bottom: 120px;
	}
}
.banner__descr_top{
	max-width: 250px;
    position: absolute;
    left: 260px;
    top: calc(12vh + 35px);
}
.banner__descr{
	max-width: 250px;
    position: absolute;
    left: 260px;
    top: calc(12vh + 193px);
    &:before{
		content: "";
    	position: absolute;
    	left: -10px;
    	top: 0px;
    	height: 210px;
    	background-color: #fff;
    	width: 2px;
    }
    &:after{
    	content: "";
    	position: absolute;
    	left: -50px;
    	top: 0px;
    	height: 2px;
    	background-color: #fff;
    	width: 40px;
    }

}
.banner__logo{
	float: right;
	text-align: center;
	position: relative;
	margin-top: 12vh;
	.logo-main{
		width: 220px;
	}
	.logo-min{
		position: relative;
		margin-top: 80px;
	    &:before{
	    	content: "";
	    	position: absolute;
	    	right: 128px;
	    	top: 19px;
	    	height: 2px;
	    	background-color: #fff;
	    	width: 822px;
	    }
	}
}

.currency-form{
	position: fixed;
	height: 100vh;
	width: 440px;
	max-width: 100vw;
	right: -440px;
	top: 0;
	padding: 40px;
	background-color: #fff;
	box-sizing: border-box;
	overflow-y: scroll;
	transition: right 0.4s;
	z-index: 99999;
	&.active{
		right: 0;
	}
}
.currency-form__item,
.currency-form__input{
	position: relative;
	box-sizing: border-box;
	p{
		
		color: #000;
		margin-top: 5px;
		font-size: 14px;

	}
	// display: flex;
	.checkbox-ico{
		position: absolute;
		top: -3px;
		left: 0;
		width: 25px;
		height: 30px;
		display: block;
		background:  url(../img/chekbox.svg) center center no-repeat;
	}
}
.currency-form__btn{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	min-width: 120px;
	min-height: 44px;
	border-radius: 10px;
	background-color: #2e8fdf;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

}
.currency-form__input{
	input{
		font-size: 14px;
		border: 1px solid #333333;
		padding: 8px 12px;
		width: 100%;
		box-sizing: border-box;
		display: block;
		&:placeholder{
			opacity: 0.8;
			color: #dedede;
		}
	}

}
.banner__btn{
	position: relative;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	span{
		z-index: 2;
		position: relative;	
	}
}
.banner__btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
    transform: translateX(-100%);
    transition: 0.6s ease-in-out;

}
.banner__btn:hover{
	color: $blue;
	&:before {
       	transform: translateX(0);
	}
}


// .banner__btn{
// 	transition: all 0.4s ease-in-out;
// 	&:hover{
// 		background: #fff;
// 		color: $blue !important;
// 	}
// }

@media screen and (max-width: 1224px) {
	.logo-min{
		display: none;
	}
	.banner__descr{
		&:after,
		&:before{
			display: none;
		}
	}
}
@media screen and (max-width: 760px) {
	
	.banner__logo{
		display: none;
	}
	.banner__main-content{
		min-height: auto !important;
	}
}
@media screen and (max-width: 560px){
	.header__btn,
	.footer_btn{
		display: flex;
		flex-direction: column;
		margin: 40px auto;
		border: 2px solid #fff;
		padding: 20px;
		border-radius: 5px;
	}
	.banner__descr,
	.banner__descr_top{
		position: static;
		text-align: center;
		font-weight: 500;	
	}
	.btn_container{
		float: none;
		margin: 0 auto;
		max-width: 230px;
	}
	.banner__btn{
		margin: 10px 0px 0px !important;
		border-radius: 5px;
	}

}


@keyframes rotation {
	0% { 
		transform: rotateY(0deg);
	}
	50% { 
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
.card-container {
	cursor: pointer;
	perspective: 600;
	position: relative;
}
.card {
	height: 100%;
	// position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
	animation: rotation 5s linear infinite;
}
.card .side {
	backface-visibility: hidden;
	border-radius: 6px;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.card .back {
	backface-visibility: hidden;
	line-height: 150px;
	text-align: center;
	transform: rotateY(180deg);
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	img{
		width: 100%;
	}
}

@media not all and (min-resolution:.001dpcm){ 
	@supports (-webkit-appearance:none){
	    .card .back { 
			display: none;
	    }
	}
}
// @media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) 
// { @media {
//     .card .back { 
// 		display: none;
//     }
// }}
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
    .card .back { 
		display: none;
    }
}
